* {
    box-sizing: border-box;
}

:root {
    --background: #fbfbf8;
    --pic-color: #d83f2d;
    --black: #201a19;
    --font-color: #fbfbf8;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

main {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    text-align: center;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 4px;
    margin-top: 50px;
}

h1 {
    font-size: 20px;
}

header a {
    color: var(--pic-color);
}

figure img {
    width: 270px;
    height: 270px;
}

#feed {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

figure {
    position: relative;
    margin-top: 30px;
}

figcaption {
    z-index: 40;
    position: absolute;
    width: 270px;
    height: 270px;
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--pic-color);
    transition: .5s ease;
    opacity: 0;
}

figcaption:hover {
    opacity: 1;
}

figcaption p {
    padding: 25px;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    line-height: 1.5;
    font-size: 14px;
    color: var(--font-color);
}

figcaption img {
    width: 21px;
    height: 21px;
    margin-bottom: 5px;
    margin-top: 10px;
}

span {
    font-weight: 500;
    font-size: 20px;
    
}

span img {
    vertical-align: bottom;
    padding-right: 8px;
    width: 28px;
    height: 20px;
}


